[Desktop Entry]
Name=Folder View
Name[ar]=عرض المجلد
Name[be@latin]=Prahlad kataloha
Name[bg]=Директория
Name[bn]=ফোল্ডার ভিউ
Name[bn_IN]=ফোল্ডার প্রদর্শন
Name[ca]=Vista de carpeta
Name[cs]=Pohled na složku
Name[csb]=Wëzdrzatk kataloga
Name[da]=Mappevisning
Name[de]=Ordner-Ansicht
Name[el]=Προβολή φακέλου
Name[eo]=Dosieruja rigardo
Name[es]=Vista de carpeta
Name[et]=Kataloogivaade
Name[eu]=Karpeta ikuspegia
Name[fi]=Kansionäkymä
Name[fr]=Vue Dossier
Name[fy]=Map werjefte
Name[ga]=Amharc Fillteáin
Name[gl]=Vista do cartafol
Name[gu]=ફોલ્ડર દેખાવ
Name[he]=תצוגת תיקייה
Name[hi]=फ़ोल्डर दृश्य
Name[hr]=Prikaz mapa
Name[hsb]=Napohlad zapiska
Name[hu]=Mappanézet
Name[is]=Möppusýn
Name[it]=Vista delle cartelle
Name[ja]=フォルダビュー
Name[kk]=Қапшық көрінісі
Name[km]=ទិដ្ឋភាព​ជា​ថត
Name[kn]=ಕಡತಕೋಶ ನೋಟ
Name[ko]=폴더 보기
Name[ku]=Bergehê Peldankê
Name[lt]=Aplanko rodymas
Name[lv]=Mapes skats
Name[mk]=Преглед на папки
Name[ml]=കൂട കാഴ്ച
Name[mr]=संचयीका दृश्य
Name[nb]=Mappevisning
Name[nds]=Orneransicht
Name[nl]=Mapweergave
Name[nn]=Mappevising
Name[or]=ଫୋଲଡ଼ର ଦୃଶ୍ୟ
Name[pa]=ਫੋਲਡਰ ਝਲਕ
Name[pl]=Widok katalogu
Name[pt]=Área de Pasta
Name[pt_BR]=Exibição de pasta
Name[ro]=Vizualizare dosar
Name[ru]=Просмотр папки
Name[sk]=Pohľad na priečinok
Name[sl]=Prikaz mape
Name[sr]=приказ фасцикле
Name[sr@latin]=prikaz fascikle
Name[sv]=Katalogvy
Name[ta]=அடைவு காட்சி
Name[te]=ఫొల్డర్ వీక్షణం
Name[tg]=Намоиши феҳрист
Name[th]=มุมมองโฟลเดอร์
Name[tr]=Dizin Görünümü
Name[uk]=Перегляд тек
Name[uz]=Jildni koʻruvchi
Name[uz@cyrillic]=Жилдни кўрувчи
Name[wa]=Vuwe d' on ridant
Name[x-test]=xxFolder Viewxx
Name[zh_CN]=文件夹视图
Name[zh_TW]=資料夾檢視
Comment=Display the content of folders (Desktop as default)
Comment[ar]=تعرض محتوى المجلدات (سطح المكتب مبدئيا)
Comment[be@latin]=Pakazvaj źmieściva kataloha (zmoŭčana: stała)
Comment[bn]=ফোল্ডার-এর বিষয়বস্তু দেখায় (ডিফল্ট ডেস্কটপ)
Comment[bn_IN]=ফোল্ডার-এর বিষয়বস্তু দেখায় (ডিফল্ট ডেস্কটপ)
Comment[ca]=Mostra el contingut de les carpetes (per defecte l'Escriptori)
Comment[cs]=Zobrazuje obsah složek (implicitně plochu)
Comment[csb]=Wëskrzënianié zamkłoscë katalogów (pùlt jakno domëszlny)
Comment[da]=Vis indholdet af mapper (Desktop som standard)
Comment[de]=Ordnerinhalte anzeigen (Voreinstellung: Desktop)
Comment[el]=Εμφάνιση των περιεχομένων φακέλων (προκαθορισμένα ο Desktop)
Comment[es]=Mostrar el contenido de las carpetas (Escritorio como predeterminado)
Comment[et]=Kataloogide sisu näitamine (vaikimisi kataloog Töölaud)
Comment[eu]=Bistaratu karpeten edukia (mahaigaina lehenetsiz)
Comment[fi]=Näytä kansion sisältö (Oletuksena työpöytäkansio)
Comment[fr]=Affiche le contenu des dossiers (Par défaut le bureau)
Comment[gl]=Mostra o contido dos cartafoles (Por omisión, o escritorio)
Comment[gu]=ફોલ્ડરોની વિગતો દર્શાવો (ડેસ્કટોપ મૂળભૂત તરીકે)
Comment[he]=מציג תוכן תיקיות (שולחן־עבודה כברירת מחדל)
Comment[hi]=फ़ोल्डर की सामग्री दिखाएँ (डिफ़ॉल्ट के रूप में डेस्कटॉप)
Comment[hsb]=Wobsah zapiskow pokazać (dźěłowy powjerch je standard)
Comment[is]=Sýna innihald mappa (Skjáborð er sjálfgefið)
Comment[it]=Mostra il contenuto delle cartelle (Desktop come predefinita)
Comment[ja]=フォルダの内容を表示します (標準はデスクトップフォルダ)
Comment[kk]=Қапшықтағыны көрсету (Әдетті Үстел)
Comment[km]=បង្ហាញ​មាតិកា​របស់​ថត (ផ្ទៃតុ​ជា​លំនាំដើម)
Comment[kn]=ಕಡತಕೋಶಗಳ ಒಳಪಿಡಿಯನ್ನು ತೋರಿಸು (ಪೂರ್ವನಿಯೋಜಿತವಾಗಿ ಗಣಕತೆರೆಯದ್ದು)
Comment[ko]=폴더 내용 보여주기 (기본 폴더는 데스크톱 폴더)
Comment[ku]=Naveroka peldankan nîşan bide (Sermasê standard e)
Comment[lv]=Rāda mapju saturu (noklusētā ir Desktop)
Comment[ml]=അറയുടെ ഉള്ളടക്കങ്ങള്‍ കാണിക്കുക (സ്വാഭവികമായിട്ട് ഡെസ്ക്ടോപ് പണിയിടം ആണു്‌ കാണിക്കുക)
Comment[mr]=संचयीकाचे अनुक्रम दर्शवा (Desktop मुलभूत नुरूप)
Comment[nb]=Vis mappers innhold (standard er skrivebordet)
Comment[nds]=Den Inholt vun Ornern wiesen (standardwies de Schriefdisch)
Comment[nl]=Toon de inhoud van mappen (bureaublad als standaard)
Comment[nn]=Vis innhaldet i mapper (skrivebordsmappa som standard)
Comment[or]=ଫୋଲଡ଼ରଗୁଡ଼ିକର ବିଷୟବସ୍ତୁକୁ ପ୍ରଦର୍ଶନ କରନ୍ତୁ (ପୂର୍ବନିର୍ଦ୍ଧାରିତ ପରି ଡ଼େସ୍କଟପ)
Comment[pa]=ਫੋਲਡਰਾਂ ਦੀ ਸਮੱਗਰੀ ਵੇਖੋ (ਡੈਸਕਟਾਪ ਡਿਫਾਲਟ ਵਾਂਗ)
Comment[pl]=Pokazanie zawartości folderów (domyślnie Pulpitu)
Comment[pt]=Mostrar o conteúdo das pastas ('Desktop' por omissão)
Comment[pt_BR]=Mostra o conteúdo das pastas (pasta Desktop como padrão)
Comment[ro]=Afișează conținutul dosarelor (Birou ca implicit)
Comment[ru]=Отображение содержания папок (по умолочанию - рабочего стола)
Comment[sk]=Zobrazenie obsahu priečinku (štandardne priečinok Desktop)
Comment[sl]=Prikaži vsebino map (privzeto je to Namizje)
Comment[sv]=Visa innehåll i kataloger (Desktop är förval)
Comment[ta]=அடைவில் இருப்பவற்றை காட்டுக (திரைமேசை இயல்பிருப்பாக)
Comment[th]=แสดงเนื้อหาของโฟลเดอร์ (ค่าปริยายคือโฟลเดอร์ Desktop)
Comment[tr]=Dizinlerin içeriğini göster (Öntanımlı olarak Masaüstü)
Comment[uk]=Показує вміст тек (типово, стільниці)
Comment[wa]=Håyner çou k' i gn a dins on ridant (Sicribanne prémetou)
Comment[x-test]=xxDisplay the content of folders (Desktop as default)xx
Comment[zh_CN]=显示文件夹的内容(默认为桌面)
Comment[zh_TW]=顯示資料夾內容（預設顯示桌面資料夾）
Type=Service
Icon=folder
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=desktop
X-Plasma-DropMimeTypes=inode/directory

X-KDE-Library=plasma_applet_folderview
X-KDE-PluginInfo-Author=Fredrik Höglund
X-KDE-PluginInfo-Email=fredrik@kde.org
X-KDE-PluginInfo-Name=folderview
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

