[Desktop Entry]
Name=Folder View
Name[ar]=مشهد المجلد
Name[as]=ফোল্ডাৰৰ প্ৰদৰ্শন
Name[ast]=Vista de carpeta
Name[be@latin]=Prahlad kataloha
Name[bg]=Изглед с папки
Name[bn]=ফোল্ডার ভিউ
Name[bn_IN]=ফোল্ডার প্রদর্শন
Name[bs]=prikaz fascikle
Name[ca]=Vista de carpeta
Name[ca@valencia]=Vista de carpeta
Name[cs]=Pohled na složku
Name[csb]=Wëzdrzatk kataloga
Name[da]=Mappevisning
Name[de]=Ordner-Ansicht
Name[el]=Προβολή φακέλου
Name[en_GB]=Folder View
Name[eo]=Dosieruja rigardo
Name[es]=Vista de carpeta
Name[et]=Kataloogivaade
Name[eu]=Karpeten ikuspegia
Name[fi]=Kansionäkymä
Name[fr]=Vue de dossier
Name[fy]=Map werjefte
Name[ga]=Amharc Fillteáin
Name[gl]=Vista do cartafol
Name[gu]=ફોલ્ડર દેખાવ
Name[he]=תצוגת תיקייה
Name[hi]=फ़ोल्डर दृश्य
Name[hne]=फोल्डर दृस्य
Name[hr]=Prikaz mapa
Name[hsb]=Napohlad zapiska
Name[hu]=Mappanézet
Name[ia]=Vista del Dossier
Name[id]=Tampilan Folder
Name[is]=Möppusýn
Name[it]=Vista delle cartelle
Name[ja]=フォルダビュー
Name[kk]=Қапшық көрінісі
Name[km]=ទិដ្ឋភាព​ជា​ថត
Name[kn]=ಕಡತಕೋಶ ನೋಟ
Name[ko]=폴더 보기
Name[ku]=Bergehê Peldankê
Name[lt]=Aplanko rodymas
Name[lv]=Mapes skats
Name[mai]=फोल्डर दृश्य
Name[mk]=Преглед на папки
Name[ml]=കൂട കാഴ്ച
Name[mr]=संचयीका दृश्य
Name[nb]=Mappevisning
Name[nds]=Orneransicht
Name[nl]=Mapweergave
Name[nn]=Mappevising
Name[or]=ଫୋଲଡ଼ର ଦୃଶ୍ୟ
Name[pa]=ਫੋਲਡਰ ਝਲਕ
Name[pl]=Widok katalogu
Name[pt]=Área de Pasta
Name[pt_BR]=Exibição de pasta
Name[ro]=Vizualizare dosar
Name[ru]=Просмотр папки
Name[se]=Máhppačájeheapmi
Name[si]=බහලුම් දසුන
Name[sk]=Pohľad na priečinok
Name[sl]=Mapa
Name[sr]=приказ фасцикле
Name[sr@ijekavian]=приказ фасцикле
Name[sr@ijekavianlatin]=prikaz fascikle
Name[sr@latin]=prikaz fascikle
Name[sv]=Katalogvy
Name[ta]=அடைவு காட்சி
Name[te]=ఫొల్డర్ వీక్షణం
Name[tg]=Намоиши феҳрист
Name[th]=มุมมองโฟลเดอร์
Name[tr]=Dizin Görünümü
Name[ug]=قىسقۇچ كۆرۈنۈشى
Name[uk]=Перегляд тек
Name[uz]=Jildni koʻruvchi
Name[uz@cyrillic]=Жилдни кўрувчи
Name[wa]=Vuwe d' on ridant
Name[x-test]=xxFolder Viewxx
Name[zh_CN]=文件夹视图
Name[zh_TW]=資料夾檢視
Comment=Display the contents of folders
Comment[ar]=اعرض محتوى المجلدات
Comment[bg]=Показва съдържанието на папки
Comment[bs]=Prikaži sadržaj direktorija
Comment[ca]=Mostra el contingut de les carpetes
Comment[ca@valencia]=Mostra el contingut de les carpetes
Comment[cs]=Zobrazit obsah složek
Comment[da]=Vis indholdet af mapper
Comment[de]=Ordnerinhalte anzeigen
Comment[el]=Εμφάνιση περιεχομένων των φακέλων
Comment[es]=Mostrar el contenido de las carpetas
Comment[et]=Kataloogide sisu näitamine
Comment[eu]=Bistaratu karpeten edukia
Comment[fi]=Näyttää kansion sisällön
Comment[fr]=Afficher les contenus de dossiers
Comment[ga]=Taispeáin inneachar d'fhillteáin
Comment[gl]=Mostra o contido dos cartafoles
Comment[hu]=Megjeleníti a mappák tartalmát
Comment[ia]=Monstra le contentos de dossieres
Comment[is]=Sýna innihald mappa
Comment[it]=Mostra il contenuto delle cartelle
Comment[kk]=Қапшықтардағыны көрсету
Comment[km]=បង្ហាញ​មាតិកា​របស់​ថត
Comment[ko]=폴더 내용 보여주기
Comment[lt]=Rodyti aplankų turinį
Comment[lv]=Rādīt mapju saturu
Comment[mr]=संचयीकाचा मजकूर दर्शवा
Comment[nb]=Vis mappers innhold
Comment[nds]=Den Inholt vun Ornern wiesen
Comment[nl]=Toon de inhoud van mappen
Comment[pa]=ਫੋਲਡਰਾਂ ਦੀ ਸਮੱਗਰੀ ਵੇਖਾਓ
Comment[pl]=Wyświetl zawartość katalogów
Comment[pt]=Mostrar o conteúdo das pastas
Comment[pt_BR]=Mostra o conteúdo das pastas
Comment[ro]=Afișează conținutul dosarelor
Comment[ru]=Вывод содержимого папки
Comment[sk]=Zobraziť obsah priečinkov
Comment[sl]=Pokaži vsebino map
Comment[sr]=Приказује садржај фасцикли
Comment[sr@ijekavian]=Приказује садржај фасцикли
Comment[sr@ijekavianlatin]=Prikazuje sadržaj fascikli
Comment[sr@latin]=Prikazuje sadržaj fascikli
Comment[sv]=Visa innehåll i kataloger
Comment[tg]=Намоиши мазмуни феҳристҳо
Comment[tr]=Dizinlerin içeriğini göster
Comment[ug]=قىسقۇچلارنىڭ مەزمۇنلىرىنى كۆرسىتىدۇ
Comment[uk]=Показ вмісту тек
Comment[wa]=Håynêye çou k' i gn a dins des ridants
Comment[x-test]=xxDisplay the contents of foldersxx
Comment[zh_CN]=显示文件夹的内容
Comment[zh_TW]=顯示資料夾內容
Type=Service
Icon=folder
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=desktop
X-Plasma-DropMimeTypes=inode/directory

X-KDE-Library=plasma_applet_folderview
X-KDE-PluginInfo-Author=Fredrik Höglund
X-KDE-PluginInfo-Email=fredrik@kde.org
X-KDE-PluginInfo-Name=folderview
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=File System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

