[Desktop Entry]
Name=Folder View
Name[bg]=Директория
Name[bn_IN]=ফোল্ডার প্রদর্শন
Name[ca]=Vista de carpeta
Name[cs]=Pohled na složku
Name[da]=Mappevisning
Name[de]=Ordner-Ansicht
Name[el]=Προβολή φακέλου
Name[eo]=Dosieruja rigardo
Name[es]=Vista de carpeta
Name[et]=Kataloogivaade
Name[fr]=Vue Dossier
Name[fy]=Map werjefte
Name[ga]=Amharc Fillteáin
Name[gl]=Vista do cartafol
Name[gu]=ફોલ્ડર દેખાવ
Name[he]=תצוגת תיקייה
Name[hu]=Mappanézet
Name[is]=Möppusýn
Name[it]=Vista delle cartelle
Name[ja]=フォルダビュー
Name[km]=ទិដ្ឋភាព​ជា​ថត
Name[ko]=폴더 보기
Name[lv]=Mapju skats
Name[mk]=Преглед на папки
Name[ml]=കൂട കാഴ്ച
Name[nds]=Orneransicht
Name[nl]=Mapweergave
Name[nn]=Mappevising
Name[pa]=ਫੋਲਡਰ ਝਲਕ
Name[pl]=Widok katalogu
Name[pt]=Área de Pasta
Name[pt_BR]=Exibição de pasta
Name[ru]=Просмотр папки
Name[sl]=Prikaz mape
Name[sr]=приказ фасцикле
Name[sr@latin]=prikaz fascikle
Name[sv]=Katalogvy
Name[tg]=Намоиши феҳрист
Name[th]=มุมมองโฟลเดอร์
Name[tr]=Dizin Görünümü
Name[uk]=Перегляд тек
Name[uz]=Jildni koʻruvchi
Name[uz@cyrillic]=Жилдни кўрувчи
Name[wa]=Vuwe e ridant
Name[x-test]=xxFolder Viewxx
Name[zh_CN]=文件夹视图
Name[zh_TW]=資料夾檢視
Type=Service
Icon=folder
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-DropMimeTypes=inode/directory

X-KDE-Library=plasma_applet_folderview
X-KDE-PluginInfo-Author=Fredrik Höglund
X-KDE-PluginInfo-Email=fredrik@kde.org
X-KDE-PluginInfo-Name=folderview
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

